/* Set font family and background color for the body */
/* Give containers a width of 100% */
.container{
    box-sizing: border-box;
}
/* Use clearfix for floated elements */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Use flexbox for historical places */
.historical-places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.historical-places .place {
    flex: 1 1 calc(33.33% - 20px);
    margin-bottom: 20px;
    width: calc(100%/3);
}

/* Apply styles to the header */
header {
  background-image: url('images/fotor_2023-3-5_2_12_34.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-image {
  display: none;
}

header h1 {
  color: white;
  font-size: 3rem;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
/* Center the heading and add margin to the top */
h1 {
    text-align: left;
    margin-top: 50px;
}

/* Add padding to the unordered list and remove bullets */
ul {
    padding: 0;
    list-style: none;
}

/* Add margin to the list items */
li {
    margin: 20px 0;
}

/* Style the links */
a {
    text-decoration: none;
    color: #0066cc;
}

/* Change link color on hover */
a:hover {
    color: #003366;
}

/* Apply styles to the main content area */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Apply styles to the article section */
article {
    width: 65%;
    margin-bottom: 20px;
}

.article-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Apply styles to the aside section */
aside {
    width: 30%;
    margin-bottom: 20px;
}

aside h3 {
    color: #777;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,td {
    text-align: left;
    padding: 8px;
}

th {
        background-color: #eee;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

aside div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.article-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
aside div {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 3);
    margin-right: 20px;
}
aside div:last-of-type {
    margin-right: 0;
}
     
    
/* Apply styles for screen size greater than or equal to 768px */
@media screen and (min-width: 768px) {
aside div {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.article-image {
    width: 48%;
    margin-top: 0;
}
}

/* Apply styles to the footer */
footer {
    background-color: #777;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #fff;
}